# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache/
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Data files
#data/
#*.npy
#*.pkl
glove.*.txt

# Logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Results
benchmark_results/
results/
charts/
figures/!/data/
singlerun.sbatch

!/data/msmarco_pre_embeded/msmacro_pre_embeded_README.md
